@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family:'Lato',sans-serif ;
    margin: 0;
    padding: 0;
    color: white;
    
}
body{
    background-image: url("./images/sun.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 45px;
}
p{
    font-size:17px ;
}
h2{
    font-size: 40px;
}
main {
  background-image: url("./images/sun.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 25px;
  width: 40%;
  
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #111827, #1f2937);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.blur-box{
    padding: 10px;
    border-radius: 25px;
     gap: 10px;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.169);
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(5px);
    
}


.search{
    margin: 10px auto;
    padding: 10px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(15px);;
    width: 90%;
    height: 55px;
    border-radius: 15px;
}
form{
    height: 100%;
}
input{
    outline: none;
    border: none;
    height: 100%;
    width: 86%;
    color: rgb(0, 0, 0);
    background: transparent;
    font-size: 20px;
    padding-left: 10px;
}
.weather-info{
    gap: 10px;
}
input::placeholder {
  color: #000000;/
}
button{
    border: none;
    width: 45px;
    height: inherit;
    border-radius:15px;
    cursor: pointer;
    transition: 0.2s;
}
button:hover{
    background-color: #ffffff5e;
}
i{
    color: black;
}
.search .flex{
    flex-direction: row;
    justify-content: space-between;
}
.city-info{
    gap: 5px;
}
.more-details{
    width: 100%;
    margin-top:20px ;
    gap: 20px;
    justify-content: space-evenly;
}
.card{
    
    padding: 9px;
    
    background-color: #6261612e;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 10px;
}
img{
    height: 140px;
    width: 140px;
}
.more-details.flex{
    flex-direction: row;
    gap: 20px;
}

@media (max-width:1300px) {
    main {
  width: 50%
}
}
@media (max-width:1000px) {
    main {
  width: 60%
}
}
@media (max-width:800px) {
    main {
  width: 90%
}
}